.image{
    width: 320px;
    height: 320px;
    position: relative;
    top: 40px;
   
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main {
    padding-top:50px ;
    background-image: url('/Yellow.png');
    background-size: cover; /* Adjust this based on your needs */
    background-position: center; /* Adjust this based on your needs */
    max-height: 480px;
    overflow: hidden;
}

p{
    color: #504F4F;
    font-size: 14px;
}
h1{
    color: white;
    font-size: 50px;
}