.Main{
    display: flex;
    justify-content:space-evenly;
    margin-top: 40px;
}
img{
    width: 200px;
   border-radius: 12px;
}
.card-text2{
    background-color: rgba(241, 114, 40, 0.2);
    color: #F17228;
    padding:9px;
    border-radius: 6px;
    width:fit-content;
    font-weight: 700;
}
.card-text{
    font-weight: 700;
}